<p id="notice"><%= notice %></p>

<h2>About Mover</h2>

<p>Mover is a side project made with the idea of connecting people togeather.</p>
<p>It aims to connect individuals who own moving vechiles with those who need something moved.</p>
<p>The types of services offered on the website include:</p>
<ul>
  <li>List a service</li>
  <li>Request a service</li>
  <li>Messaging other users</li>
  <li>Arrange your own payment types</li>
  <li>Rate other users based on service quality</li>
</ul>
